<%= image_tag @idea.image.url, class: "idea-image" %>
<h1><%= @idea.title %></h1>
<p><%= @idea.body %></p>
<h3>Add Comment</h3>

<% @comments.each do |comment| %>
  <h5><%= comment.user.first_name %></h5>
  <p><%= comment.body %></p>
  <hr>
<% end %>

<%= form_for [@idea, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
  <%= f.submit %>
  </div>
<% end %>
